/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Libre+Baskerville&display=swap');

// audio
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Libre+Baskerville&display=swap');

// bruno ace
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

// Michroma
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

// Arimo as good as Arial
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');


//
// Color system
//
$white:     #ffffff !default;
$silver:    #e9e9e9 !default;
$black:     #000000 !default;


$blue:      #003366 !default;
$orange:    #ff5a28 !default;

$primary:   $silver !default;

$link-color: $orange;


// Dropdowns

$dropdown-link-color:               $black !default;
$dropdown-link-hover-color:         $black !default;
$dropdown-link-hover-bg:            $black !default;


$font-family: "Atkinson Hyperlegible", "sans-serif";
$font-family-serif: "Atkinson Hyperlegible", "sans-serif";


// link style.
$link-color: #FFFD0A;
//$link-color-hover: lighten($link-color, 15%);
//$selection-bg: $light-blue;


/*-- scss:rules --*/

.quote {
  font-size: 1.25em;
  //color: $navy-blue;
  font-style: italic;
}

.blue {
  color: $blue;
}

.white {
  color: $white;
}

.black {
  color: #181818;
}


.bg-red {
  background-color: #c93727;
  padding-top: 20px;
  padding-right: 400px;
  padding-bottom: 20px;
  padding-left: 400px;
  color: $white;
}

.bg-cream {
  background-color: #e9e9e9;
  padding-top: 20px;
  padding-right: 100px;
  padding-bottom: 20px;
  padding-left: 100px;
  color: $black;
}

.bg-green {
  background-color: #006758;
  padding-top: 20px;
  padding-right: 100px;
  padding-bottom: 20px;
  padding-left: 100px;
  color: $white;
}

.bg-gold {
  background-color: #fad345;
  padding-top: 20px;
  padding-right: 100px;
  padding-bottom: 20px;
  padding-left: 100px;
  color: $black;
}


.theme-audio {
  font-family: 'Audiowide', sans-serif;
}


.smaller {
  font-size: 0.35em;
  
  font-family: 'Arimo', sans-serif;
  
  line-height: 0.55;
  
}

.hero-banner {
  background-image: url('images/banner.jpg');
  background-size: 55%;
  color: $white;
  font-size: 8.3em;
  font-weight: 900;
  letter-spacing: -2px;
  text-align: center;
}


.title {
  font-size: 5em;
  font-weight: 900;
  font-family: 'Audiowide', sans-serif;
  color: $blue;
}

.subtitle {
  font-size: 4.5em;
  font-weight: 900;
  font-family: 'Audiowide', sans-serif;
}

.text-large {
  font-size: 2.5em;
  font-weight: 400;
}

.bold-line {
  text-decoration: underline;
  text-decoration-color: $blue;
  text-decoration-thickness: 0.2em;
}

.centering {
  text-align: center;
}

.bold {
  font-weight: 900;
}

.button {
  background-color: $blue;
  border: #FFFD0A;
  font-size: 1.5em;
  font-weight: 600;
  color: $white;
  line-height: 1.5;
  padding-top: 0.444444em;
  padding-right: 1em;
  padding-bottom: 0.555556em;
  padding-left: 1em;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}

.button2 {
  background-color: $white;
  border: none;
  font-weight: 600;
  color: $black;
  padding-top: 0.444444em;
  padding-right: 1em;
  padding-bottom: 0.555556em;
  padding-left: 1em;
  text-align: center;
  vertical-align: middle;
  font-size: 0.35em;
  font-family: 'Arimo', sans-serif;
  line-height: 0.55;
}



