/*-- scss:defaults --*/

// color system
$theme-blue:   #003366;
$theme-gray:   #4c4c4c;
$theme-white:  white;
$theme-silver: #e9e9e9;
$theme-green:  #006758;
$theme-gold:   #ffc041;
$theme-black:  #242e32;
$theme-cherry: #a51f3c;

$link-color: $theme-gold;

$navbar-bg: $theme-silver;

$navbar-fg: $theme-blue; //The color of foreground elements (text and navigation) on the navbar. If not specified, a contrasting color is automatically computed.

$navbar-hl: $theme-blue; //The highlight color for links in the navbar.

// below important to zero top padding gap solution is from the Stackoverflow
.content {
  margin-top: -20px;
  margin-bottom: -60px;
}

.theme-blue {
  color: $theme-blue;
}

.theme-black {
  color: $theme-black;
}

.theme-white {
  color: $theme-white;
}

.theme-gold {
  color: $theme-gold;
}

.theme-cherry {
  color: $theme-cherry;
}

$font-size-root: 20px;
$h1-font-size: $font-size-root * 2.60;

$background-color: $theme-black;

// heading font style "audio"
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Libre+Baskerville&display=swap');

.theme-audio {
  font-family: 'Audiowide', sans-serif;
  color: $theme-blue;
}

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

.theme-basker {
  font-family: 'Libre Baskerville', serif;
  //color: $theme-blue;
}

h1, h2, h3 {
  font-family: 'Libre Baskerville', serif;
}

// cursive font style for special mentions.
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap');

.theme-cursive {
  font-family: 'Playpen Sans', cursive;
  font-size: $font-size-root * 1.75;
  font-weight: 400;
  color: $theme-gold;
}

.centering {
  text-align: center;
}

.lefting {
  text-align: left;
}

.banner-blue {
  background-color: $theme-blue;
  color: $theme-white;
  //font-size: 4vw;
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  text-align: center;
  padding-top: 0;
}

.banner-green {
  background-color: $theme-green;
  color: $theme-white;
  //font-size: 3vw;
  font-weight: 700;
  text-align: center;
  padding-top: 1vh;
}

.banner-cherry {
  background-color: $theme-cherry;
  color: $theme-white;
  //font-size: 3vw;
  //font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  text-align: center;
}

.banner-footer {
  background-color: #242e32;
  color: $theme-white;
  font-weight: 700;
  text-align: center;
}

.title-huge {
  font-size: 3vw;
  font-weight: 700;
}

.body-large {
  font-size: $font-size-root * 1.5;
}

.body-medium {
  font-size: $font-size-root * 1.25;
}

.uline-blue {
  text-decoration: underline;
  text-decoration-color: $theme-blue;
  text-decoration-thickness: 0.2em;
}

.uline-cherry {
  text-decoration: underline;
  text-decoration-color: $theme-cherry;
  text-decoration-thickness: 0.2em;
}

.uline-gold {
  text-decoration: underline;
  text-decoration-color: $theme-gold;
  text-decoration-thickness: 0.2em;
}

.uline-green {
  text-decoration: underline;
  text-decoration-color: $theme-green;
  text-decoration-thickness: 0.2em;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.fa-facebook:hover {
    color: #3b5998;
}

.fa-twitter:hover {
    color: #1DA1F2;
}

.fa-instagram:hover {
    color: #ffffff;
}

.fa-linkedin:hover {
    color: #0A66C2;
}

.fa-youtube:hover {
    color: #FF0000;
}