/*-- scss:defaults --*/

//// import poppin font style
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// color system
$theme-dark-blue:     #001f3d;
$theme-skyblue:       #76AADB;
$theme-gray:          #4c4c4c;
$theme-gray-light:    #C0C0C0;
$theme-white:         white;
$theme-silver:        #e9e9e9;
$theme-green:         #006758;
$theme-gold:          #ffc041;
$theme-black:         #242e32;
$theme-cherry:        #a51f3c;
$theme-light-gray:    #f2f2f2;

$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-medium:          500 !default;
$font-weight-semibold:        600 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;


//// font size settings

$font-size-root: 1.20rem;
$font-size-base: 1.20rem; // Assumes the browser default, typically `16px`
$font-size-sm:  $font-size-base * .875 !default;
$font-size-lg:  $font-size-base * 1.20 !default; // font size of home top logo

$h1-font-size: $font-size-base *2;
$h2-font-size: $font-size-base *1.5;
$h3-font-size: $font-size-base *1.25;
$h4-font-size: $font-size-base *1.15;


//// home page background colors

.banner-blue {
  background-color: $theme-dark-blue;
  font-family: "Poppins", Sans-Serif;
  font-size: $font-size-base *2;
  text-align: center;
  color: $theme-white;
  
}

//// mission text style and size
.mission-style {
  font-size: $font-size-base *1.15;
}

.banner-gray {
  background-color: $theme-light-gray;
  text-align: center;
  //position: absolute;
  margin: -20px 0 0 0;
  padding: 0% 0 0 0;
}

$link-color: $theme-dark-blue;

//// all settings for the top navigation bar section

$navbar-bg: $theme-dark-blue;
$navbar-fg: $theme-white; //color of nav bar text
$navbar-hl: $theme-silver; //nav bar text hover color

//// to keep gap zero between the top and bottom bgs.
.content {
  margin-top: -13px;
  margin-bottom: -80px;
}


//// text alignment 
.centering {
  text-align: center;
}


.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}


.flex-container {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.button {
  background-color: $theme-dark-blue;
  border: none;
  color: $theme-white;
  //padding: 5px 50px 5px 50px;
  padding-top: 3px;
  padding-right: 70px;
  padding-bottom: 0px;
  padding-left: 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 23px;
  border-radius: 2px;
  //width: 30%;
  box-sizing: border-box;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba($theme-skyblue, 0.8), 0 17px 50px 0 rgba($theme-skyblue, 0.6);
}

.button-gold {
  color: $theme-gold;
}

.fa-facebook:hover {
    color: #316FF6;
}

.fa-twitter:hover {
    color: #1DA1F2;
}

.fa-instagram:hover {
    color: $theme-cherry;
}

.fa-linkedin:hover {
    color: #0077b5;
}

.fa-youtube:hover {
    color: #CD201F;
}
