#title-block-header {
display: none ;
}

code {
  color:#e83e8c;
    background-color: transparent !important;
}

#hero-banner {
background-image: url(images/banner.jpg); 
background-size: contain;
padding-top: 40px;
background-color: #003366;
color: white;
font-size: 6.5em;
text-align: center;
}

#quarto-content main { 
margin-top: 0;
padding-top: 0;
}


html {
  scroll-behavior: smooth;
}

.navbar-logo {
  max-height: 60px;
  width: auto;
  align-items: baseline;
}

@media (max-width: 991px) {
.navbar-logo {
  max-height: 100px;
  width: auto;
  align-items: baseline;
}
}